# Any private crt and keys #
############################
*.crt
*.key
*~
\#*

# OS Specific #
###############
Thumbs.db
.DS_Store
.vscode

# Ansible specific #
####################
.cache
*.retry

# Ansible collection specific #
###############################
nginxinc-nginx_core-*.tar.gz

# Python specific #
###################
__pycache__

# Logs #
########
*.log
